
/* 

font-family: 'Comfortaa', cursive;
font-family: 'Sofia', cursive;

*/

body {
    font-family: 'Comfortaa', cursive;
}

.page-footer {
    font-size: 50px;
    margin-left: 50px;
    
    
}
.q {
    font-family: 'Playball', cursive;
}

.q1 {
    font-family: 'Merienda', cursive;
}

.q2 {
    font-family: 'Norican', cursive;

}

.q3 {
    font-family: 'Sofia', cursive;
}
