
/* 

font-family: 'Comfortaa', cursive;
font-family: 'Sofia', cursive;

*/

@font-face {
    font-family: 'ALSSchlangesans';
    src: url("../fonts/ALSSchlangesans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}
  
  @font-face {
    font-family: 'ALSSchlangesans';
    src: url("../fonts/ALSSchlangesans-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap; 
}
  
  @font-face {
    font-family: 'ALSSchlangesans';
    src: url("../fonts/ALSSchlangesans-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap; 
}

body {
    font-family: 'ALSSchlangesans', sans-serif;
    font-size: 18px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}
.section-padding {
    padding-top: 45px;
    padding-bottom: 45px;
}
.section-title { 
    margin-top: 0;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.section-anchor {  
    display: block;  
    margin-bottom: 100px;
    margin-top: -100px
}

.page-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;    

    background-color: #ffffff;
    box-shadow: 0 0 5px 2px rgba(1, 3, 4, 0.19);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;    
}

.logo {    
    font-size: 35px;
    font-weight: bold;
    font-family: 'Sofia', cursive;
    white-space: nowrap;
    letter-spacing: 1px;
    text-decoration: none;
    color: #c14679;
}

.logo:hover {     
    color: #a43664;
}



.main-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;

    list-style: none;    
}
.main-nav__item {
    flex-grow: 1;
}
.main-nav__link {
    position: relative;
    display: inline-block;
    padding: 10px 10px;

    font-size: 16px;    
    font-weight: 700;    
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;     
}

/* .main-nav__link::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #a43664;
} */

.main-nav__link:hover {
    color: #a43664;
}

.main-nav__phone {
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
    text-decoration: none;
    color: #c14679;
}

.intro {
    display: flex;
    justify-content: center;   
    align-items: center; 
    height: 100vh;
    background-color: #ffffff;
    background-image: url(../img/intro-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro__content {       
    width: 100%;
    padding: 60px 15px;    
    text-align: center; 
    
}

.intro__title {    
    margin-top: 0;

    font-size: 60px;
    font-weight: bold;
    font-family: 'Sofia', cursive;
    letter-spacing: 1px;
    line-height: 130%;
    color: #c14679;
}

.intro__subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
    text-transform: uppercase;
    color: #222222;
}

.intro__button {
    margin-top: 35px;    
    padding: 15px 40px;
    
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #c14679;
    border: none;
     

    transition: 0.2s;  
}
.intro__button:hover {
    background-color: #a43664; 
           
    cursor: pointer;
}

.product {
    display: flex;
    height: 100vh;    
}


.product__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 15px;
    margin-right: -15px;
    margin-left: -15px;   
    
    list-style: none;
}

.product__item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    flex-basis: 31%;     
    max-width: 31%;

    box-shadow: 0 0 5px 1px rgba(1, 3, 4, 0.3);   
    background-color: #ffffff;
    box-sizing: border-box;
}

.product-image-wrapper {
    overflow: hidden;    
}

.product__image { 
    width: 100%;   
    height: auto;
    transform: scale(1);
    transition: 0.7s;

    overflow: hidden;
}
.product__image:hover {
    transform: scale(1.2); 
}


.product__name {
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* .product__name::after {
    position: absolute;
    content: '';
    top: 8px;
    right: 30px;
    width: 25px;
    height: 2px;
    background-color: #555555;
} 
*/
/* .product__name::before {
    position: absolute;
    content: '';
    top: 8px;
    left: 30px;
    width: 25px;
    height: 2px;
    background-color: #555555;
}   */



.product__text {
    text-align: center;
    line-height: 120%;
}

.master {
    display: flex;
    background-color: #EEEDF3;    
}
.master__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;   
    margin-left: -15px;
    margin-right: -15px; 
    
}

.master__description {
    padding-left: 15px;
    padding-right: 15px;  
    flex-basis: 50%;
    max-width: 50%;
    text-align: center;

    box-sizing: border-box;
}
.master__title {
    font-weight: bold;
    text-transform: uppercase;
}

.master__text {
    line-height: 130%;
}
.master-photo-wrapper {  
    padding-left: 15px;
    padding-right: 15px;  
    flex-basis: 50%;
    max-width: 50%;

    box-sizing: border-box;
}
.master__slider {
    margin-bottom: 40px;
    background-color: transparent;
    border: none;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    left: 40px;
}
.flexslider:hover .flex-direction-nav .flex-next {
    right: 40px;
}

.flex-direction-nav a:before {
    content: '\2039';
}
.flex-direction-nav a.flex-next:before {
    content: '\203A';
}

.master__photo {   
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    background-color: #ffffff;
    box-shadow: 0 0 5px 1px rgba(1, 3, 4, 0.3);  

    box-sizing: border-box;   
}

.master__video {
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px rgba(1, 3, 4, 0.3);   

}

.price {
    display: flex;    
}

.offer__list {
    list-style: none;
    display: flex;
    padding: 0;    
    justify-content: space-between;
    
}

.offer__list .active {    
    transition: 0.2s;
    border-bottom: 4px solid #c14679;    
}

.offer__item {
    position: relative;
    flex-basis: 23%;       
    max-width: 23%;          
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    border-bottom: 4px solid transparent;
    box-shadow: 0 0 5px 0px rgba(1, 3, 4, 0.3); 
    cursor: pointer;    
    
    box-sizing: border-box;
}

.offer__item:hover {
    box-shadow: 0 0 5px 2px rgba(1, 3, 4, 0.3); 
}

.offer__name { 
    margin-top: 7px;
    margin-bottom: 0;
    width: 100%;

    text-align: center;    
}

.offer__image {
    width: 100%;    
}

.offer__image--small {
    display: none;
}
.price__list {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;
       
}
.price__item {    
    box-sizing: border-box;
}
.price__item ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.price__item ul li{
    padding: 5px;
    flex-basis: 49%;
    max-width: 49%;

    box-sizing: border-box;
    
}

.price__table {    
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;

    border-bottom: 1px solid #222222;
}

.price__table th:last-child,
.price__table td:last-child {
    width: 25%;
    text-align: right;
}

.price__button {
    display: block;
    margin-top: 35px;  
    margin-left: auto;
    margin-right: auto;  
    padding: 15px 40px;
    
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #c14679;
    border: 2px solid #ffffff;     

    cursor: pointer;

    transition: 0.2s;  

}

.features {    
    position: relative;
    display: flex;
    padding: 60px 0;

    background-color: #EEEDF3;   
    
}   

.features .section-anchor {
    margin-bottom: 125px;
    margin-top: -125px
}

.features__content { 
    position: relative;
    z-index: 1;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-left: -15px;
    margin-right: -15px;
}

.features__description {    
    flex-basis: 31%; 
    max-width: 31%;    
    padding-left: 15px;
    padding-right: 15px;
    
    text-align: center;
    box-sizing: border-box;
}

.features__text {
    line-height: 130%;
}
.features-list-wrapper {
    flex-basis: 66%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.features__list {    
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;    
    padding: 35px;
    margin: 0;

    list-style: none;
    background-color: #ffffff;    
    box-shadow: 0 0 5px 2px rgba(1, 3, 4, 0.3); 
    box-sizing: border-box;
}
.features__item {
    flex-basis: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.features__item h3 {
    margin-top: 0;    
    margin-bottom: 10px;
    text-transform: uppercase;
}
.features__item p {
    margin: 0 0 10px 0;
}

.features-image-wrapper {
    position: absolute;    
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;    
    background-image: url(../img/content-img/features/img-bg-2.jpg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.features__image { 
    width: 100%;     
}

.delivery {
    height: 100vh;
}

.delivery__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    
}
.delivery-district {
    flex-basis: 50%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
}
.delivery-city {    
    flex-basis: 50%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    box-sizing: border-box;
}

.delivery__desc {
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 130%;
}

.delivery__list {
    padding: 0;    
    list-style: none;
}
.delivery__item {    
    margin-bottom: 10px;
    min-height: 104px;
    
}
.delivery__item h3 {       
    margin-bottom: 10px;
       
}
.delivery__item p {     
    margin-top: 5px;
    margin-bottom: 5px; 
    

    font-size: 16px;
    line-height: 130%;
}
.delivery__text {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 130%;
}
 
.delivery__button {
    margin-top: 25px;    
    padding: 15px 40px;
    
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: #c14679;
    border: 2px solid #ffffff;     

    transition: 0.2s;  
}
.delivery__button:hover {
    background-color: #a43664; 
           
    cursor: pointer;
}

.contacts {
    background-color: #95BBCE;
}

.contacts__title {
    color: #ffffff;
}
.contacts__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.contacts__list {
    flex-basis: 31%;
    margin: 0;
    padding-right: 15px;
    padding-left: 65px;
    list-style: none;
}
.contacts__item {
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px;
    
    color: #ffffff;
}
.contacts__item:first-child::after {
    position: absolute;
    top: 0;
    left: -41px;
    content: url(../img/content-img/contacts/adress-icon.png);
}
.contacts__item:nth-child(2)::after {
    position: absolute;
    top: 0;
    left: -45px;
    content: url(../img/content-img/contacts/mail-icon.png);
}
.contacts__item:nth-child(3)::after {
    position: absolute;
    top: 0;
    left: -45px;
    content: url(../img/content-img/contacts/phone-icon.png);
}
.contacts__item:last-child::after {
    position: absolute;
    top: 0;
    left: -45px;
    content: url(../img/content-img/contacts/time-icon.png);
}

.contacts__link {
    text-decoration: none;
    color: #ffffff;
}

.contacts-form {    
    flex-basis: 66%;
}
.input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 25px;
}
.contacts-form__input {
    flex-basis: 48%;
    padding: 10px;
    width: 100%;

    font-size: 16px;

    border: none;
}
.contacts-form__textarea {
    display: block;
    padding: 10px;
    margin-bottom: 25px;
    width: 100%;

    font-size: 16px;
    color: #818181;

    border: none;
}

.contacts-form__button {
    padding: 10px 30px;

    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;

    background-color: transparent;
    border: 2px solid #ffffff;     

    transition: 0.3s;

    cursor: pointer;
}

.contacts-form__button:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff; 
    color: #95BBCE;

} 

.reviews {
    height: 100vh;
}

.reviews__list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
    margin-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
    padding: 0;

    list-style: none;
}
.reviews__item {
    flex-basis: 31%;
    padding-left: 15px;
    padding-right: 15px;

}

.autor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.autor__photo {
    display: block;
    
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(1, 3, 4, 0.4);
}
.autor__content {
    margin: 0;
    padding: 20px;

    text-align: center;
}

.autor__name {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
    font-style: normal;
}

.page-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7F8488;
}

.page-footer .logo {
    color: #ffffff;
}

.page-footer .contacts__list {
    margin-top: 35px;
    padding-left: 40px;

    color: #ffffff;    
}
.page-footer .contacts__item {
    margin-top: 10px;
    margin-bottom: 20px;

}
.page-footer__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: -15px;
    margin-right: -15px;    
}

.footer-logo-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}
.footer__title {
    color: #ffffff;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 31%;    
}
.footer-nav__list {    
    padding: 0;
    margin-top: 0;
    list-style: none;
}

.footer-nav__link {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    color: #ffffff;
}
.footer-product-wrapper { 
    display: flex;
    flex-direction: column;    
    flex-basis: 31%;
    text-align: right;
}
.footer-product__list {
    padding: 0;
    margin-top: 0;
    list-style: none;
}

.footer-product__item {
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ffffff;
}
.social {    
    display: flex;  
    margin-top: 10px;     
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.social__item {
    margin-left: 12px;
}
    



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  
    
}

@media only screen and (max-width : 1199px) {
    .offer__image {
        width: 100%;
        height: auto;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    

}

@media only screen and (max-width : 991px) {
    .features {
        background-color: #c14679;
    }
    .features__content {
        justify-content: center;
    }
    .features__description {
        flex-basis: 75%;
        max-width: 75%;
        margin-bottom: 25px;
        color: #ffffff;
    }
    .features-list-wrapper {
        flex-basis: 100%;
    }
    .features-image-wrapper {
        display: none;
        top: auto;
        right: auto;
        bottom: 0;
        width: 100%;
        height: 50%;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
        .intro {
            height: auto;
        }
        .intro__title {
            font-size: 50px;
        }
        .product {
            height: auto;
        } 
        .master__photo,
        .master__video {
            max-width: 100%;            
        }
        
}

@media only screen and (max-width : 767px) {
        .product__item {  
            flex-basis: 47%;     
            max-width: 47%; 
        }
        .master__description {
            flex-basis: 75%;
            max-width: 75%;
            margin-bottom: 20px;
        }
        .master-photo-wrapper {
            flex-basis: 75%;
            max-width: 75%;
        }
        .features__list {
            text-align: center;
        }
        .features__item {
            flex-basis: 100%;
        }
        .delivery-district {
            flex-basis: 100%;
            max-width: 100%;            
        }
        .delivery-city {      
            position: relative;      
            margin-top: 35px;
            flex-basis: 100%;
            max-width: 100%;
        }
        .delivery-city::before {
            position: absolute;
            top: -15px;
            display: block;
            width: 40px;
            height: 3px;
            content: '';
            background-color: #c14679;
            
        }
        
}


@media only screen and (max-width : 576px) {
    .product__item {  
        flex-basis: 100%;     
        max-width: 100%; 
    }
    .offer__image {
        display: none;
    }
    .offer__image--small {
        display: block;
        width: 100%;
    }    
    .offer__name {
        display: none;
    }
    .price__list {        
        box-shadow: inset 0 2px 3px 0px rgba(1, 3, 4, 0.3);  
    }
    .price__item ul li{        
        flex-basis: 100%;
        max-width: 100%;
    
        box-sizing: border-box;
    }
    .price__item {
        height: 75vh;
        overflow-y: auto;
    }
    .features__list {
        padding-right: 20px;
        padding-left: 20px;
    }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .master__description {
        flex-basis: 100%;
        max-width: 100%;        
    }
    .master-photo-wrapper {
        flex-basis: 100%;
        max-width: 100%;
    }
    .features__description {
        flex-basis: 100%;
        max-width: 100%;        
    }
    
}

@media only screen and (max-width : 360px) {

}    

